[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.8"
markdown = "*"
pygments = "*"
django-password-reset = "*"
pillow = "*"
django-taggit = "*"
django-ckeditor = "*"
django-mptt = "*"
django-allauth = "*"
django-notifications-hq = "*"

[requires]
python_version = "3.8"
